@model IEnumerable<MVC.Book>
@{
    ViewBag.Title = "Books";
    Layout = "~/Views/Member/MemberLayout.cshtml";
}

<h2>Books</h2>

<table class="table table-bordered table-hover table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.publisher)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.edition)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoOfpages)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoOfCopies)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Available)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.shelfNo)
        </th>
        <th>

        </th>
    </tr>


    @foreach (var item in Model)
    {
        <tr>
            <td>

                @Html.DisplayFor(modelItem => item.title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.publisher)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.edition)
            </td>
            <td>

                @Html.DisplayFor(modelItem => item.NoOfpages)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoOfCopies)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Available)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.shelfNo)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditBook", new { id = item.Book_ID })
                @Html.ActionLink("Delete", "DeleteBook", new { id = item.Book_ID })
            </td>

        </tr>
    }

</table>
