@model IEnumerable<MVC.Models.currentbook>

<h3>Current Borrowed Books</h3>
<table class="table table-bordered table-condensed table-hover table-responsive table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(t => t.book.title)
        </th>
        <th>
            @Html.DisplayNameFor(t => t.book.category)
        </th>
<th>
    @Html.DisplayNameFor(t => t.borrowedbook.Borrow_date)
</th>
        <th>
            @Html.DisplayNameFor(t => t.borrowedbook.return_date)
        </th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(t => item.book.title)
            </td>

            <td>
                @Html.DisplayFor(t => item.book.category)
            </td>
 
            <td>
              @Html.DisplayFor(t => item.borrowedbook.Borrow_date.Day)/@Html.DisplayFor(t => item.borrowedbook.Borrow_date.Month)/@Html.DisplayFor(t => item.borrowedbook.Borrow_date.Year)
            </td>
            <td>
                @Html.DisplayFor(t => item.borrowedbook.return_date.Day)/@Html.DisplayFor(t => item.borrowedbook.return_date.Month)/@Html.DisplayFor(t => item.borrowedbook.return_date.Year)
                </td>
        </tr>
    }
</table>
