@model Member


        <div class="home">
            @Html.DisplayNameFor(x => x.FullName)
            @Html.DisplayFor(x => x.FullName)
        </div>
        <div class="home">
            @Html.DisplayNameFor(x => x.Email)
            @Html.DisplayFor(x => x.Email)
        </div>
        <div class="home">
            @Html.DisplayNameFor(x => x.Address)
            @Html.DisplayFor(x => x.Address)
        </div>
        <div class="home">
            @Html.DisplayNameFor(x => x.PhoneNumber)
            @Html.DisplayFor(x => x.PhoneNumber)
        </div>
<br />
<img src="~/images/gallery5.jpg" id="imag" />

