@model IEnumerable<Member>

<table class="table table-bordered table-condensed table-hover table-responsive table-striped">
    <tr>
        <th> @Html.DisplayNameFor(x => x.FullName)</th>
        <th> @Html.DisplayNameFor(x => x.Address)</th>
        <th> @Html.DisplayNameFor(x => x.Email)</th>
        <th> @Html.DisplayNameFor(x => x.PhoneNumber)</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td> @Html.DisplayFor(x => item.FullName)</td>
            <td> @Html.DisplayFor(x => item.Email)</td>
            <td> @Html.DisplayFor(x => item.Address)</td>
            <td> @Html.DisplayFor(x => item.PhoneNumber)</td>
        </tr>

    }
</table>
<img src="~/images/gallery5.jpg" id="imag" />

