@model Member

        <div class="form-group">
            @Html.DisplayNameFor(x => x.FullName)
            @Html.DisplayFor(x => x.FullName)
        </div>
        <div class="form-group">
            @Html.DisplayNameFor(x => x.Email)
            @Html.DisplayFor(x => x.Email)
        </div>
        <div class="form-group">
            @Html.DisplayNameFor(x => x.Address)
            @Html.DisplayFor(x => x.Address)
        </div>
        <div class="form-group">
            @Html.DisplayNameFor(x => x.PhoneNumber)
            @Html.DisplayFor(x => x.PhoneNumber)
        </div>

        


<img src="~/images/gallery5.jpg" id="imag" />

