@model IEnumerable<MVC.Book>

@{
    ViewBag.Title = "All Books";
}

<h2>All Books</h2>
<br />


<table class="table table-bordered table-condensed table-hover table-responsive table-striped">
    <tr>
        <th>  @Html.ActionLink("Show today returned Book ", "TodayReturnBook") </th>
        <th>  @Html.ActionLink("Show late returned Book ", "LateReturnBook") </th>

        <th>   @Html.ActionLink("New Arrived Books", "NewArrivedBooks")</th>


    </tr>
</table>



<form method="POST" action="">
    <input type="text" name="name" />
    <input type="submit" value="Search" />
    @Html.DropDownList("typeOfSearch", ViewData["typeOfSearch"] as List<SelectListItem>)




</form>

<br />
<br/>




<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.publisher)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.edition)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoOfpages)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoOfCopies)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Available)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.shelfNo)
        </th>
        <th>Borrow</th>
    </tr>
 

    @foreach (var item in Model)
    {
        <tr>
            <td>
                
                @Html.DisplayFor(modelItem => item.title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.publisher)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.edition)
            </td>
            <td>
  
                  @Html.DisplayFor(modelItem => item.NoOfpages)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoOfCopies)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Available)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.shelfNo)
            </td>
            <td>
                @Html.ActionLink("Borrow This Book", "borrowThisBook", new { id = item.Book_ID }) |

            </td>
        
        </tr>
    }

</table>
 