@model IEnumerable<MVC.ReadingBook>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Book_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Member_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reading)
        </th>
        <th>Delete</th>
        <th>Edit</th>
        
    </tr>


    @foreach (var item in Model)
    {
        <tr>
            <td>
                
                @Html.DisplayFor(modelItem => item.Book_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Member_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reading)
            </td>
            <td>@Html.ActionLink("Delete", "DeleteReadingBook", new { Id = item.Reading_ID })</td>
            <td>@Html.ActionLink("Edit", "EditReadingBook", new { Id = item.Reading_ID })</td>
            
        </tr>
    }

</table>



