
@model MVC.ReadingBook

<h2>ReadingBooks</h2>

<form method="post" action="" novalidate="novalidate">

    <div class="form-group">
        @Html.DisplayNameFor(i => i.Book_ID)<br />
        @Html.EditorFor(i => i.Book_ID, new { HtmlAttributes = new { @class = " form-control" } })

    </div>
    <div class="form-group">
        @Html.DisplayNameFor(i => i.Member_ID)<br />
        @Html.EditorFor(i => i.Member_ID, new { HtmlAttributes = new { @class = " form-control" } })

    </div>
    <div class="form-group">
        @Html.DisplayNameFor(i => i.Reading)<br />
        @Html.EditorFor(i => i.Reading, new { HtmlAttributes = new { @class = " form-control" } })

    </div>
    <input type="submit" name="submit" value="submit" />
</form>
<br />

<div>
    @Html.ActionLink(" Cancel ", "Details")
</div>

