
@model  MVC.User

<h1 class="text-center">Wellcome @Model.firstname</h1>
<br />

<div id="profile">
    <div>
        <h4> @Html.DisplayNameFor(i => i.firstname):@Model.firstname </h4>
    </div>

    <div>
        <h4>   @Html.DisplayNameFor(i => i.middlename):@Model.middlename </h4>
    </div>

    <div>
        <h4>  @Html.DisplayNameFor(i => i.lastname):@Model.lastname </h4>
    </div>
    <div>
        <h4>    @Html.DisplayNameFor(i => i.hiredate):@Model.hiredate   </h4>
    </div>
    <div>
        <h4>   @Html.DisplayNameFor(i => i.birthdate):@Model.birthdate   </h4>
    </div>

    <div>
        <h4>     @Html.DisplayNameFor(i => i.address):@Model.address    </h4>
    </div>

    <div>
        <h4>     @Html.DisplayNameFor(i => i.phoneNo):@Model.phoneNo      </h4>
    </div>

    @Html.ActionLink("Edit Profile", "EditProfile", new { id = @Model.User_ID })


</div>




