@model IEnumerable<Book>
@{
    ViewBag.Title = "availablebooks";
}

<table class="table table-bordered table-condensed table-hover table-responsive table-striped">
    <tr>
        <th>@Html.ActionLink("available books", "availablebooks")</th>
        <th>@Html.ActionLink("borrowed books", "borrowedBooks")</th>
        <th>@Html.ActionLink("New Arrived Books", "NewArrivedBooks")</th>
        <th>@Html.ActionLink("most borrowed books ", "mostborrowedbooks")</th>
        <th>@Html.ActionLink("most reading books", "mostreadingbooks")</th>
    </tr>
</table>

@using (Html.BeginForm("availablebooks", "MainAdmin", FormMethod.Post))
{
   @: Catgory
    <input type="text" name="search" />
    <input type="submit" value="Search" />
}
<h2>availablebooks</h2>

<table class="table table-bordered table-condensed table-hover table-responsive table-striped">
    <tr>
        <th>@Html.DisplayNameFor(p => p.Book_ID)</th>
        <th>@Html.DisplayNameFor(p => p.title)</th>
        <th>@Html.DisplayNameFor(p => p.author)</th>
        <th>@Html.DisplayNameFor(p => p.publisher)</th>
        <th>@Html.DisplayNameFor(p => p.category)</th>
        <th>@Html.DisplayNameFor(p => p.edition)</th>
        <th>@Html.DisplayNameFor(p => p.NoOfpages)</th>
        <th>@Html.DisplayNameFor(p => p.NoOfCopies)</th>
        <th>@Html.DisplayNameFor(p => p.Available)</th>
        <th>@Html.DisplayNameFor(p => p.shelfNo)</th>
        <th>@Html.DisplayNameFor(p => p.arrivedDate)</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(p => item.Book_ID)</td>
            <td>@Html.DisplayFor(p => item.title)</td>
            <td>@Html.DisplayFor(p => item.author)</td>
            <td>@Html.DisplayFor(p => item.publisher)</td>
            <td>@Html.DisplayFor(p => item.category)</td>
            <td>@Html.DisplayFor(p => item.edition)</td>
            <td>@Html.DisplayFor(p => item.NoOfpages)</td>
            <td>@Html.DisplayFor(p => item.NoOfCopies)</td>
            <td>@Html.DisplayFor(p => item.Available)</td>
            <td>@Html.DisplayFor(p => item.shelfNo)</td>
            <td>@Html.DisplayFor(p => item.arrivedDate)</td>
        </tr>
    }
</table>

