@model IEnumerable<String>
@{
    ViewBag.Title = "mostborrowedbooks";
}

<table class="table table-bordered table-condensed table-hover table-responsive table-striped">
    <tr>
        <th>@Html.ActionLink("available books", "availablebooks")</th>
        <th>@Html.ActionLink("borrowed books", "borrowedBooks")</th>
        <th>@Html.ActionLink("New Arrived Books", "NewArrivedBooks")</th>
        <th>@Html.ActionLink("most borrowed books ", "mostborrowedbooks")</th>
        <th>@Html.ActionLink("most reading books", "mostreadingbooks")</th>

    </tr>
</table>

@using (Html.BeginForm("mostborrowedbooks", "MainAdmin", FormMethod.Post))
{
    @: Year
    <input type="text" name="year" />
    <input type="submit" value="Search" />
}

<h2>Most Borrowed Books</h2>

<table class="table table-bordered table-condensed table-hover table-responsive table-striped">
    <tr>
        <th>Book Title</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(p => item)</td>
        </tr>
    }
</table>




