
@{
    ViewBag.Title = "mostborrowedbooks";
}

<table class="table table-bordered table-condensed table-hover table-responsive table-striped">
    <tr>
        <th>@Html.ActionLink("available books", "availablebooks")</th>
        <th>@Html.ActionLink("borrowed books", "borrowedBooks")</th>
        <th>@Html.ActionLink("New Arrived Books", "NewArrivedBooks")</th>
        <th>@Html.ActionLink("most borrowed books ", "mostborrowedbooks")</th>
        <th>@Html.ActionLink("most reading books", "mostreadingbooks")</th>

    </tr>
</table>

<h2>mostborrowedbooks</h2>

