
@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>

<table class="table table-bordered table-condensed table-hover table-responsive table-striped">
    <tr>
        <th>@Html.ActionLink("Available Books", "availablebooks")</th>
        <th>@Html.ActionLink("Borrowed Books", "borrowedBooks")</th>
        <th>@Html.ActionLink("New Arrived Books", "NewArrivedBooks ")</th>
        <th>@Html.ActionLink("most borrowed books ", "mostborrowedbooks")</th>
        <th>@Html.ActionLink("most reading books", "mostreadingbooks")</th>
    </tr>
    </table>

    

   

   

    


